# Predicting stockprice of Samsung

## 1. Importing libraries

In [1]:
import pandas
import sklearn
import statsmodels

print(pandas.__version__)
print(sklearn.__version__)
print(statsmodels.__version__)

2.1.4
1.3.2
0.14.1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 2. Loading dataset

In [3]:
ts = pd.read_csv('005930.KS.csv')
ts.head()

         Date     Open     High      Low    Close     Adj Close    Volume
0  2020-05-18  47950.0  49100.0  47600.0  48800.0  46788.835938  20481981
1  2020-05-19  50100.0  50500.0  49700.0  50300.0  48227.015625  25168295
2  2020-05-20  50000.0  50200.0  49800.0  50000.0  47939.382813  14896899
3  2020-05-21  50300.0  50400.0  49850.0  49950.0  47891.437500  14949266
4  2020-05-22  49600.0  49800.0  48600.0  48750.0  46740.894531  19706284

In [ ]:
pd.read_csv('005930.KS.csv', index_col = 'Date', parse_dates = True)