In [81]:
#001
print("Hello, World!")

Hello, World!

In [82]:
#002
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
#003
print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [84]:
#004
print('C:\Windows')

C:\Windows

In [85]:
#005
print("안녕하세요.\n만나서\t\t\t\t반갑습니다.")

안녕하세요.
만나서				반갑습니다.

In [86]:
#006
print ("오늘은", "일요일")

오늘은 일요일

In [87]:
#007
print("naver;kakao;sk;samsung")
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [88]:
#008
print("naver/kakao/sk/samsung")
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung
naver/kakao/sk/samsung

In [89]:
#009
print("first");print("second")
print("first", end="");print("second")

first
second
firstsecond

In [90]:
#010
print(5/3)

1.6666666666666667

In [91]:
#011
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [92]:
#012
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [93]:
#013
s = "hello"
t = "python"
print(s+"! "+t)

hello! python

In [94]:
#014
print(2 + 2 * 3)

8

In [95]:
#015
a = 128
print(type(a))

b = "123"
print(type(b))

<class 'int'>
<class 'str'>

In [96]:
#016
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [97]:
#017
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [98]:
#018
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [99]:
#019
year = "2020"   
year_int = int(year)
print(year_int-3, year_int-2, year_int-1)

2017 2018 2019

In [100]:
#020
aircon = 48584
month = 36
total = aircon*month
print(total)

1749024

In [101]:
#021
letters = 'python'
print(letters[0], letters[2])

p t

In [102]:
#022
license_plate = '57루 4759'
print(license_plate[-4:])

4759

In [103]:
#023
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [104]:
#024
string = "PYTHON"
reversed_string = string[::-1]
print(reversed_string)

NOHTYP

In [105]:
#025
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [106]:
#026
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [107]:
#027
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

In [108]:
#028
'''
lang = 'python'
lang[0] = 'P'
print(lang)
'''

"\nlang = 'python'\nlang[0] = 'P'\nprint(lang)\n"

In [109]:
#029
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [110]:
#030
string = 'abcd'  
string.replace('b', 'B')  
print(string)

abcd

In [111]:
#031
a = '3'
b = '4'
print(a + b)

34

In [112]:
#032
print('hi' * 10)

hihihihihihihihihihi

In [113]:
#033
print('-' * 80)

--------------------------------------------------------------------------------

In [114]:
#034
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [115]:
#035
name1 = '김민수'
age1 = 10
name2 = '이펄희'
age2 = 13
print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이펄희 나이: 13

In [116]:
#036
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이펄희 나이: 13

In [117]:
#037
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이펄희 나이: 13

In [118]:
#038
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(',', '')
상장주식수 = int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [119]:
#039
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [120]:
#040
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [121]:
#041
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [122]:
#042
ticker = 'BTC_KRW'
ticker = ticker.lower()
print(ticker)

btc_krw

In [123]:
#043
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [124]:
#044
file_name = '보고서.xlsx'
result = file_name.endswith('xlsx')
print(result)

True

In [125]:
#045
file_name = '보고서.xlsx'
result = file_name.endswith(('xlsx', 'xls'))
print(result)

True

In [126]:
#046
file_name = '2023_보고서.xlsx'
result = file_name.startswith('2020')
print(result)

False

In [127]:
#047
a = "hello world"
split_a = a.split(' ')
print(split_a)

['hello', 'world']

In [128]:
#048
ticker = 'btc_krw'
ticker_split = ticker.split('_')
print(ticker_split)

['btc', 'krw']

In [129]:
#049
date = '2020-05-01'
date_split = date.split('-')
print(date_split)

['2020', '05', '01']

In [130]:
#050
data = '039490      '
data_strip = data.strip()
print(data_strip)

data_rstrip = data.rstrip()
print(data_rstrip)

039490
039490

In [131]:
#051
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [132]:
#052
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [133]:
#053
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [134]:
#054
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [135]:
#055
movie_rank = ['닥터 스트레인지', '스플릿', '럭키','슈퍼맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿']

In [136]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [137]:
#057
nums = [1, 2, 3, 4, 5, 6, 7]
nums_max = max(nums)
nums_min = min(nums)
print(f'max: {nums_max} min: {nums_min}')

max: 7 min: 1

In [138]:
#058
nums = [1, 2, 3, 4, 5]
nums_sum = sum(nums)
print(f'Sum: {nums_sum}')

Sum: 15

In [139]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
cook_leng = len(cook)
print(f'음식의 종류:{cook_leng}')

음식의 종류:12

In [140]:
#060
nums = [1, 2, 3, 4, 5]
nums_avg = sum(nums)/len(nums)
print(f'평균: {nums_avg}')

평균: 3.0

In [141]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price_list = price[1:]
print(price_list)

[100, 130, 140, 150, 160, 170]

In [142]:
#062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_list = nums[::2]
print(nums_list)

[1, 3, 5, 7, 9]

In [143]:
#063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_list = nums[1::2]
print(nums_list)

[2, 4, 6, 8, 10]

In [144]:
#064
nums = [1, 2, 3, 4, 5]
nums_reverse = nums[::-1]
print(nums_reverse)

[5, 4, 3, 2, 1]

In [145]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
interest1 = interest[::2]
print(interest1)
print(interest[0], interest[2])

['삼성전자', 'Naver']
삼성전자 Naver

In [146]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [147]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [148]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [149]:
#069
string = "삼성전자/LG전자/Naver"
string1 = string.split('/')
print(string1)

['삼성전자', 'LG전자', 'Naver']

In [150]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data_order = sorted(data)
print(data_order)

[1, 2, 3, 4, 5, 9, 10]

In [151]:
#071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [152]:
#072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [153]:
#073
num_tuple = (1)
num_tuble1 = (1,)
print(num_tuple, type(num_tuple))
print(num_tuble1, type(num_tuble1))

1 <class 'int'>
(1,) <class 'tuple'>

In [154]:
#074
t = (1, 2, 3)
t = ('a',) + t[1:]

In [155]:
#075
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [156]:
#076
t = ('a', 'b', 'c')  
t1 = ('A', 'b', 'c')
print(t)
print(t1)

('a', 'b', 'c')
('A', 'b', 'c')

In [157]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
print(interest, type(interest))
print(interest_list, type(interest_list))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>
['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [158]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tuple = tuple(interest)
print(interest, type(interest))
print(interest_tuple, type(interest_tuple))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>
('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [159]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [160]:
#080
even_numbers = tuple(range(2, 100, 2))
print(even_numbers)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [161]:
#081
a, b, *c = (0, 1, 2, 3, 4, 5)
c
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, b, c = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [162]:
#082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *c = scores
print(c)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [163]:
#083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *b, c = scores
print(b)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [164]:
#084
temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [165]:
#085
ice_cream = {'메로나': 1000, '폴리포': 1200, '빵파레': 1800}
print(ice_cream, type(ice_cream))

{'메로나': 1000, '폴리포': 1200, '빵파레': 1800} <class 'dict'>

In [166]:
#086
ice_cream = {'메로나': 1000, '폴리포': 1200, '빵파레': 1800}
ice_cream['죠스바'] = 1200
ice_cream['월드콘'] = 1500
print(ice_cream)

{'메로나': 1000, '폴리포': 1200, '빵파레': 1800, '죠스바': 1200, '월드콘': 1500}

In [167]:
#087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [168]:
#088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [169]:
#089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [170]:
#090
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 12000}
icecream['누가바']

12000

In [171]:
#091
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [172]:
#092
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}
print(inventory['메로나'] [0], '원')

300 원

In [173]:
#093
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], '개')

20 개

In [174]:
#094
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [175]:
#095
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
keys = list(icecream.keys())
print(keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [176]:
#096
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
values = list(icecream.values())
print(values)

[1200, 1200, 1800, 1500, 1000]

In [177]:
#097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [178]:
#098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [179]:
#099
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [180]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [181]:
#101
# bool 은 True, False 두가지 값만 가질 수 있다.

In [182]:
#102
print(3 == 5)

False

In [183]:
#103
print(3 < 5)

True

In [184]:
#104
x = 4
print(1 < x < 5)

True

In [185]:
#105
print(3 == 3) and ( 4!= 3)

True

In [186]:
#106
print(3 <= 4)

True

In [187]:
#107
if 4 < 3:
    print('Hello World')

In [188]:
#108
if 4 < 3:
    print('Hello World.')
else:
    print('Hi, there.')

Hi, there.

In [189]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [190]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [191]:
#111
user_input = input('>>')
print(user_input *2)

4444

In [192]:
#112
user_input = input('숫자를 입력하세요:')
print(int(user_input) + 10)

65

In [193]:
#113
user_input = input('숫자를 입력하세요:')
if int(user_input) % 2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

In [194]:
#114
user_input = input('입력값:')
if int(user_input) + 20 > 255:
    print(255)
else:
    print(int(user_input) + 20)

In [ ]:
#115
user_input = input('입력값:')
if int(user_input) - 20 < 0:
    print(0)
elif int(user_input) - 20 > 255:
    print(255)
else:
    print(int(user_input) - 20)

In [ ]:
#116
input_time = input('현재시간:')
if input_time[-2:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

In [ ]:
#117
fruit = ['사과', '포도', '홍시']
user_fruit = input('좋아하는 과일은?')
if user_fruit in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user_investment = input('투자 종목을 입력하세요.')
if user_investment in warn_investment_list:
    print('투자 경고 종목 입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

In [ ]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_fruit = input('제가 좋아하는 계절은?')
if user_fruit in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_fruit = input('제가 좋아하는 계절은?')
if user_fruit in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
#121
user_input = input('문자를 입력하세요:')
if user_input.islower():
    print(user_input.upper())
else:
    print(user_input.lower())

In [ ]:
#122
user_score = input('score:')
if int(user_score) >= 81:
    print('grade is A')
elif int(user_score) >= 61:
    print('grade is B')
elif int(user_score) >= 41:
    print('grade is C')
elif int(user_score) >= 21:
    print('grade is D')
else:
    print('grade is E')

In [ ]:
'''
#123
user_amount = input('금액을 입력하세요:')
user_amount = user_amount[:-1]
if user_amount[-1] == '달러':
    print(int(user_amount) * 1167, '원')
elif user_amount[-1] == '엔':
    print(int(user_amount) * 1.096, '원')
elif user_amount[-1] == '유로':
    print(int(user_amount) * 1268, '원')
elif user_amount[-1] == '위안':
    print(int(user_amount) * 171, '원')
else:
    print('잘못된 입력입니다.')
'''

In [ ]:
#123
환율 = {'달러': 1167, '엔': 1.096, '유로': 1268, '위안': 171}
user_amount = input('금액을 입력하세요.')
num, currency = user_amount.split()
print(float(num) * 환율[currency], '원')

In [1]:
#124
user_input1 = input('input number1:')
user_input2 = input('input number2:')
user_input3 = input('input number3:')
numbers = [int(user_input1), int(user_input2), int(user_input3)]
max_number = max(numbers)
print(max_number)

67

In [5]:
#125
user_input = input('휴대폰 번호을 입력 하세요:')
tel_id = user_input[:3]
if tel_id == '011':
    print('당신은 SKT 사용자 입니다.')
elif tel_id == '016':
    print('당신은 KT 사용자 입니다.')
elif tel_id == '019':
    print('당신은 LGU 사용자 입니다.')
elif tel_id == '010':
    print('통신사를 확일 할 수 없습니다.')
else:
    print('휴대폰 번호를 잘못 입력 하셨습니다.')

휴대폰 번호를 잘못 입력 하셨습니다.

In [7]:
#126
gu_name = {'1': '강북구', '2': '강북구', '3': '강북구', '4': '도봉구', '5': '도봉구', '6': '도봉구', '7': '노원구', '8': '노원구', '9': '노원구'}
user_input = input('우편번호:')
user_input = user_input[1]
print(gu_name[user_input])

노원구

In [10]:
#127
user_input = input('주민등록번호:')
user_input = user_input[6]
if user_input == '1' or user_input == '3':
    print('남자')
elif user_input == '2' or user_input == '4':
    print('여자')
else:
    print('- 기호를 빼고 입력 하세요.')

남자

In [13]:
#128
user_input = input('주민등록번호:')
user_input = user_input[7:9]
if 0 <= int(user_input) <= 8:
    print('출생지는 서울 입니다.')
else:
    print('출생지는 서울이 아닙니다.')

출생지는 서울이 아닙니다.

In [14]:
#129
user_input = input('주민번호:')
user_input_validation = (int(user_input[0])*2 + int(user_input[1])*3 + int(user_input[2])*4 + int(user_input[3])*5 + int(user_input[4])*6 + int(user_input[5])*7 + int(user_input[7])*8 + int(user_input[8])*9 + int(user_input[9])*2 + int(user_input[10])*3 + int(user_input[11])*4 + int(user_input[12])*5) % 11
user_input_validation = 11 - user_input_validation
if user_input_validation == int(user_input[-1]):
    print('유효한 주민등록번호 입니다.')
else:
    print('유효하지 않은 주민등록번호 입니다.')

유효한 주민등록번호 입니다.

In [17]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)
if (int(btc['max_price']) - int(btc['min_price']) + int(btc['opening_price']) > int(btc['max_price'])):
    print('상승장')
else:
    print('하락장')

print(int(btc['max_price']))
print(int(btc['min_price']))
print(int(btc['opening_price']))
print(int(btc['max_price']) - int(btc['min_price']) + int(btc['opening_price']))
print(int(btc['max_price']) - int(btc['min_price']) + int(btc['opening_price']) > int(btc['max_price']))

{'opening_price': '59379000', 'closing_price': '59179000', 'min_price': '58660000', 'max_price': '59800000', 'units_traded': '1395.51523973', 'acc_trade_value': '82699222515.2551', 'prev_closing_price': '59379000', 'units_traded_24H': '4001.62012863', 'acc_trade_value_24H': '234643354071.646', 'fluctate_24H': '1432000', 'fluctate_rate_24H': '2.48', 'date': '1703116152391'}
상승장
59800000
58660000
59379000
60519000
True

In [18]:
#131
과일 = ["사과", "귤", "수박"]  
for 변수 in 과일:  
    print(변수)

사과
귤
수박

In [23]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [24]:
#133
alphabet = ['A', 'B', 'C', 'D']
for alphabet_print in alphabet:
    print(alphabet_print)

A
B
C
D

In [25]:
#134
alphabet = ['A', 'B', 'C', 'D']
for alphabet_print in alphabet:
    print('alphabet: ', alphabet_print)

alphabet:  A
alphabet:  B
alphabet:  C
alphabet:  D

In [26]:
#135
alphabet = ['A', 'B', 'C', 'D']
for alphabet_print in alphabet:
    print('alphabet lowercase:', alphabet_print.lower())

alphabet lowercase: a
alphabet lowercase: b
alphabet lowercase: c
alphabet lowercase: d

In [27]:
#136
numbers = [10, 20, 30, 40]
for numbers_print in numbers:
    print(numbers_print)

10
20
30
40

In [28]:
#137
i = [10, 20, 30, 40]
for i_print in i:
    print(i_print)

10
20
30
40

In [31]:
#138
for i in [10, 20, 30, 40]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------
40
-------

In [32]:
#139
print('++++++++')
for i in [10, 20, 30]:
    print(i)

++++++++
10
20
30

In [33]:
#140
for i in [1, 2, 3, 4]:
    print('-------')

-------
-------
-------
-------

In [34]:
#141
price_list = [100, 200, 300]
for price in price_list:
    print(price + 10)

110
210
310

In [36]:
#142
menu_list = ['김밥', '라면', '튀김']
for menu in menu_list:
    print('오늘의 메뉴:', menu)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [37]:
#143
stock_list = ['SK하이닉스', '삼성전자', 'LG전자']
for stock in stock_list:
    print(len(stock))

6
4
4

In [38]:
#144
animal_list = ['dog', 'cat', 'parrot']
for animal in animal_list:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

In [39]:
#145
animal_list = ['dog', 'cat', 'parrot']
for animal in animal_list:
    print(animal[0])

d
c
p

In [40]:
#146
number_list = [1, 2, 3]
for number in number_list:
    print('3 x', number)

3 x 1
3 x 2
3 x 3

In [41]:
#147
number_list = [1, 2, 3]
for number in number_list:
    print('3 x', number, '=', 3*number)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [42]:
#148
character_list = ['가', '나', '다', '라']
for character in character_list[1:]:
    print(character)

나
다
라

In [43]:
#149
character_list = ['가', '나', '다', '라']
for character in character_list[::2]:
    print(character)

가
다

In [44]:
#150
character_list = ['가', '나', '다', '라']
for character in reversed(character_list):
    print(character)

라
다
나
가

In [45]:
#151
num_list = [3, -20, -3, 44]
for number in num_list:
    if number < 0:
        print(number)

-20
-3

In [46]:
#152
num_list = [3, 100, 23, 44]
for number in num_list:
    if number % 3 == 0:
        print(number)

3

In [47]:
#153
num_list = [13, 21, 12, 14, 30, 18]
for number in num_list:
    if number % 3 == 0 and number < 20:
        print(number)

12
18

In [48]:
#154
char_list = ['I', 'study', 'python', 'language', '!']
for char in char_list:
    if len(char) >= 3:
        print(char)

study
python
language

In [49]:
#155
char_list = ['A', 'b', 'c', 'D']
for char in char_list:
    if char.isupper():
        print(char)

A
D

In [50]:
#156
char_list = ['A', 'b', 'c', 'D']
for char in char_list:
    if char.islower():
        print(char)

b
c

In [52]:
#157
char_list = ['dog', 'cat', 'parrot']
for char in char_list:
    print(char.capitalize())

for char in char_list:
    print(char[0].upper() + char[1:])

Dog
Cat
Parrot
Dog
Cat
Parrot

In [54]:
#158
file_list = ['hello.py', 'ex01.py', 'intro.hwp']
for file in file_list:
    print(file.split('.')[0])

hello
ex01
intro

In [55]:
#159
file_list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for file in file_list:
    if file.split('.')[1] == 'h':
        print(file)

intra.h
define.h

In [56]:
#160
file_list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for file in file_list:
    if file.split('.')[1] == 'h' or file.split('.')[1] == 'c':
        print(file)

intra.h
intra.c
define.h

In [59]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [63]:
#162
for i in range(2002, 2051, 4):
    print(i)

print(list(range(2002, 2051, 4)))

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050
[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046, 2050]

In [65]:
#163
print(list(range(3, 31, 3)))
for i in range(3, 31, 3):
    print(i)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
3
6
9
12
15
18
21
24
27
30

In [67]:
#164
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [68]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [73]:
#166
for i in range (1, 10):
    print('3 x', i, '=', 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [78]:
#167
for i in range (1, 10):
    if i % 2 == 1:
        print('3 x', i , '=', 3 * i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [82]:
#168
isum = 0
#for i in range(1, 11):
#    isum = isum + i
#    print(isum)

for i in range(1, 11):
    isum += i
    print(isum)

1
3
6
10
15
21
28
36
45
55

In [84]:
#169
isum = 0
for i in range(1, 11):
    if i % 2 == 1:
        isum += i
print(isum)

25

In [85]:
#170
isum = 1
for i in range(1, 11):
    isum *= i
print(isum)

3628800

In [86]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(0, 4):
    print(price_list[i])

32100
32150
32000
32500

In [87]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(0, 4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [91]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(3, -1, -1):
    print(i, price_list[i])

3 32500
2 32000
1 32150
0 32100

In [94]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + i * 10, price_list[i])

100 32150
110 32000
120 32500

In [95]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(0, 3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [97]:
#176
my_list = ["가", "나", "다", "라", '마']
for i in range(0, 3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [99]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [100]:
#178
my_list = [100, 200, 400, 800]
for i in range(0, 3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [101]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(0, 4):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [104]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [105]:
#181
apart = [[101, 102], [201, 202], [301, 302]]
print(apart)

[[101, 102], [201, 202], [301, 302]]

In [106]:
#182
stock = [['시가', '100', '200', '300'], ['종가', '80', '210', '330']]
print(stock)

[['시가', '100', '200', '300'], ['종가', '80', '210', '330']]

In [108]:
#183
stock = {
    '시가': [100, 200, 300],
    '종가': [80, 210, 330]
}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [110]:
#184
stock = {
    '10/10' : [80, 110, 70, 90],
    '10/11' : [210, 230, 190, 200]
}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [112]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [117]:
#185-2
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [116]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)-1, -1, -1):
    for j in range(len(apart[i])-1, -1, -1):
        print(apart[i][j],'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [119]:
#186-2
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [118]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [122]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        print('------')

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [123]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        if col % 2 == 0:
            print('------')

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [126]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)-1, -1, -1):
    for j in range(len(apart[i])-1, -1, -1):
        print(apart[i][j],'호')
print('-' * 10)

302 호
301 호
202 호
201 호
102 호
101 호
----------

In [127]:
#191
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [129]:
#192
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col * 1.00014)
    print('-' * 20)

2000.28
3050.427
2050.2870000000003
1980.2772
--------------------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
--------------------
15452.163
15052.107
15552.177
14902.086000000001
--------------------

In [131]:
#193
result = []
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        result.append(col * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [133]:
#194
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    sub = []
    for col in row:
        sub.append(col * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [134]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [135]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [136]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [138]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]- row[2])
print(volatility)

[40, 30, 10]

In [139]:
#199

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    if row[3] > row[0]:
        volatility.append(row[1]- row[2])       
print(volatility)

[10]

In [145]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])
print(profit)

0

In [148]:
#201
def print_coin():
    print('비트코인')
print_coin()

비트코인

In [150]:
#202
print_coin()

비트코인

In [151]:
#203
for i in range(101):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [153]:
def hello():
    print("Hi")

hello()

Hi

In [154]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [156]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [157]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [158]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [159]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [160]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [161]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [165]:
#213
def 함수(문자열) :
    print(문자열)
함수()

TypeError: 함수() missing 1 required positional argument: '문자열'

In [166]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

TypeError: can only concatenate str (not "int") to str

In [168]:
#215
def print_with_smile(string):
    print(string + ':D')
print_with_smile('안녕')

안녕:D

In [169]:
#216
print_with_smile('안녕 하세요')

안녕 하세요:D

In [171]:
#217
def print_upper_price(price):
    print('상한가:', price * 1.3)
print_upper_price(10000)

상한가: 13000.0

In [173]:
#218
def print_sum(a, b):
    print(a + b)
print_sum(3, 4)

7

In [174]:
#219
def print_arithmetic_operation(a, b):
    print(a, '+', b, '=', a + b)
    print(a, '-', b, '=', a - b)
    print(a, '*', b, '=', a * b)
    print(a, '/', b, '=', a / b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [176]:
#220
def print_max(a, b, c):
    num_list = [a, b, c]
    print(max(num_list))
print_max(3, 4, 5)

5

In [177]:
#221
def print_reverse(string):
    print(string[::-1])
print_reverse('python')

nohtyp

In [178]:
#222
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([12, 34, 23, 45, 90])

40.8

In [179]:
#223
def print_even (num_list):
    for num in num_list:
        if num % 2 == 0:
            print(num)
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [180]:
#224
def print_keys(dic):
    for key in dic.keys():
        print(key)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [181]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(my_list, my_key):
    print(my_list[my_key])
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [186]:
#226
def print_5(string):
    chunk_num = int(len(string) / 5)
    for x in range(chunk_num + 1):
        print(string[x * 5: x * 5 + 5])
print_5('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [188]:
#227
#226
def print_5(string):
    chunk_num = int(len(string) / 3)
    for x in range(chunk_num + 1):
        print(string[x * 3: x * 3 + 3])
print_5('아이엠어보이유알어걸')

아이엠
어보이
유알어
걸

In [191]:
#228
def calc_monthly_salary(annual_salary):
    print(annual_salary//12)
calc_monthly_salary(12000000)

1000000

In [192]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [1]:
#223
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [6]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

0

In [10]:
#232
def make_url(string):
    url = 'www.' + string + '.com'
    return url
make_url('naver')

'www.naver.com'

In [17]:
#233
def make_list(string):
    col = len(string)
    list = []
    for i in range(col):
        list.append(string[i])
    print(list)
make_list('abcd')

['a', 'b', 'c', 'd']

In [19]:
#233-2
def make_list (string) :
    return list(string)

make_list('abcd')

['a', 'b', 'c', 'd']

In [20]:
#234
def pickup_even(list):
    result = []
    for i in list:
        if i % 2 == 0:
            result.append(i)
    return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [21]:
#235
def convert_int(string):
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

In [22]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [23]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [24]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [25]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [26]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [27]:
#241
import datetime

# 현재 시간을 가져옵니다.
current_time = datetime.datetime.now()

# 현재 시간을 출력합니다.
print(current_time)

2023-12-24 09:20:08.511785

In [28]:
from datetime import datetime

# 현재 날짜와 시간을 얻기
now = datetime.now()

# 형식화된 문자열로 출력
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2023-12-24 09:21:25

In [29]:
import datetime

now = datetime.datetime.now()
print(now)

2023-12-24 09:22:57.883145

In [30]:
#242
import datetime
now = datetime.datetime.now()
print(now, type(now))

2023-12-24 09:24:03.403343 <class 'datetime.datetime'>

In [32]:
#243
import datetime
now = datetime.datetime.now()
for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2023-12-19 09:27:58.943264
2023-12-20 09:27:58.943264
2023-12-21 09:27:58.943264
2023-12-22 09:27:58.943264
2023-12-23 09:27:58.943264

In [35]:
#244
import datetime
now = datetime.datetime.now()
print(now.strftime('%H:%M:%S'))

09:29:47

In [37]:
#245
import datetime
day = '2023-12-24'
day_corr = datetime.datetime.strptime(day, '%Y-%m-%d')
print(day_corr)

2023-12-24 00:00:00

In [39]:
#246
import time
import datetime

now = datetime.datetime.now()
print(now.strftime('%Y-%m-%d %H:%M:%S'))

time.sleep(1)

2023-12-24 09:39:34

In [ ]:
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2023-12-24 09:43:35.462148
2023-12-24 09:43:36.467471
2023-12-24 09:43:37.473521
2023-12-24 09:43:38.479145
2023-12-24 09:43:39.482268
2023-12-24 09:43:40.483668
2023-12-24 09:43:41.488853
2023-12-24 09:43:42.494147
2023-12-24 09:43:43.496311
2023-12-24 09:43:44.496945
2023-12-24 09:43:45.502536
2023-12-24 09:43:46.512171
2023-12-24 09:43:47.519319
2023-12-24 09:43:48.523325
2023-12-24 09:43:49.523631
2023-12-24 09:43:50.529239
2023-12-24 09:43:51.529746
2023-12-24 09:43:52.530432
2023-12-24 09:43:53.535774
2023-12-24 09:43:54.540455
2023-12-24 09:43:55.547719
2023-12-24 09:43:56.551705
2023-12-24 09:43:57.556881
2023-12-24 09:43:58.564069
2023-12-24 09:43:59.565488
2023-12-24 09:44:00.569573
2023-12-24 09:44:01.574922
2023-12-24 09:44:02.580258
2023-12-24 09:44:03.583945
2023-12-24 09:44:04.588358
2023-12-24 09:44:05.595344
2023-12-24 09:44:06.600584
2023-12-24 09:44:07.605364
2023-12-24 09:44:08.608133
2023-12-24 09:44:09.612785
2023-12-24 09:44:10.618081
2023-12-24 09:44:11.618713
2023-12-24 09:44:12.620518
2023-12-24 09:44:13.621011
2023-12-24 09:44:14.626225
2023-12-24 09:44:15.628260
2023-12-24 09:44:16.633486
2023-12-24 09:44:17.642117
2023-12-24 09:44:18.647428
2023-12-24 09:44:19.649344
2023-12-24 09:44:20.654596
2023-12-24 09:44:21.656710
2023-12-24 09:44:22.658101
2023-12-24 09:44:23.660842
2023-12-24 09:44:24.665785
2023-12-24 09:44:25.671124
2023-12-24 09:44:26.672568
2023-12-24 09:44:27.674739
2023-12-24 09:44:28.679832
2023-12-24 09:44:29.685458
2023-12-24 09:44:30.691115
2023-12-24 09:44:31.693523
2023-12-24 09:44:32.701878
2023-12-24 09:44:33.706220
2023-12-24 09:44:34.707737
2023-12-24 09:44:35.713165
2023-12-24 09:44:36.718329
2023-12-24 09:44:37.726652
2023-12-24 09:44:38.728268
2023-12-24 09:44:39.733588
2023-12-24 09:44:40.737671
2023-12-24 09:44:41.743266
2023-12-24 09:44:42.748589
2023-12-24 09:44:43.750402
2023-12-24 09:44:44.754937
2023-12-24 09:44:45.760173
2023-12-24 09:44:46.764732
2023-12-24 09:44:47.769722
2023-12-24 09:44:48.770474
2023-12-24 09:44:49.775413
2023-12-24 09:44:50.780666
2023-12-24 09:44:51.786595
2023-12-24 09:44:52.792405
2023-12-24 09:44:53.798061
2023-12-24 09:44:54.800012
2023-12-24 09:44:55.803363
2023-12-24 09:44:56.807407
2023-12-24 09:44:57.812585
2023-12-24 09:44:58.817811
2023-12-24 09:44:59.823111
2023-12-24 09:45:00.823922
2023-12-24 09:45:01.829087
2023-12-24 09:45:02.834491
2023-12-24 09:45:03.838187
2023-12-24 09:45:04.843518
2023-12-24 09:45:05.844027
2023-12-24 09:45:06.848726
2023-12-24 09:45:07.852368
2023-12-24 09:45:08.856947
2023-12-24 09:45:09.859910
2023-12-24 09:45:10.865119
2023-12-24 09:45:11.865429
2023-12-24 09:45:12.869904
2023-12-24 09:45:13.870322
2023-12-24 09:45:14.874311
2023-12-24 09:45:15.874572
2023-12-24 09:45:16.880314
2023-12-24 09:45:17.883277
2023-12-24 09:45:18.889367
2023-12-24 09:45:19.890852
2023-12-24 09:45:20.892408
2023-12-24 09:45:21.904820
2023-12-24 09:45:22.911460
2023-12-24 09:45:23.916474
2023-12-24 09:45:24.921191
2023-12-24 09:45:25.922342
2023-12-24 09:45:26.929230
2023-12-24 09:45:27.934523
2023-12-24 09:45:28.940514
2023-12-24 09:45:29.945060
2023-12-24 09:45:30.950384
2023-12-24 09:45:31.954530
2023-12-24 09:45:32.959882
2023-12-24 09:45:33.969055
2023-12-24 09:45:34.981653
2023-12-24 09:45:35.982332
2023-12-24 09:45:36.987691
2023-12-24 09:45:37.992991
2023-12-24 09:45:38.993960
2023-12-24 09:45:39.995172
2023-12-24 09:45:41.000467
2023-12-24 09:45:42.003189
2023-12-24 09:45:43.008526
2023-12-24 09:45:44.009988
2023-12-24 09:45:45.018110
2023-12-24 09:45:46.025621
2023-12-24 09:45:47.029382
2023-12-24 09:45:48.030537
2023-12-24 09:45:49.037646
2023-12-24 09:45:50.046989
2023-12-24 09:45:51.052274
2023-12-24 09:45:52.059408
2023-12-24 09:45:53.071041
2023-12-24 09:45:54.076132
2023-12-24 09:45:55.081965
2023-12-24 09:45:56.085597
2023-12-24 09:45:57.091610
2023-12-24 09:45:58.096977
2023-12-24 09:45:59.110564
2023-12-24 09:46:00.112685
2023-12-24 09:46:01.115817
2023-12-24 09:46:02.121009
2023-12-24 09:46:03.127514
2023-12-24 09:46:04.136520
2023-12-24 09:46:05.142125
2023-12-24 09:46:06.146837
2023-12-24 09:46:07.152941
2023-12-24 09:46:08.156816
2023-12-24 09:46:09.161526
2023-12-24 09:46:10.165333
2023-12-24 09:46:11.178583
2023-12-24 09:46:12.183468
2023-12-24 09:46:13.190092
2023-12-24 09:46:14.196204
2023-12-24 09:46:15.201232
2023-12-24 09:46:16.207637
2023-12-24 09:46:17.209438
2023-12-24 09:46:18.214204
2023-12-24 09:46:19.219758
2023-12-24 09:46:20.220279
2023-12-24 09:46:21.225880
2023-12-24 09:46:22.230556
2023-12-24 09:46:23.236380
2023-12-24 09:46:24.241770
2023-12-24 09:46:25.247647
2023-12-24 09:46:26.259312
2023-12-24 09:46:27.266409
2023-12-24 09:46:28.273898
2023-12-24 09:46:29.279166
2023-12-24 09:46:30.281494
2023-12-24 09:46:31.286857
2023-12-24 09:46:32.294130
2023-12-24 09:46:33.299976
2023-12-24 09:46:34.300571
2023-12-24 09:46:35.301703
2023-12-24 09:46:36.306708
2023-12-24 09:46:37.309835
2023-12-24 09:46:38.314027
2023-12-24 09:46:39.319838
2023-12-24 09:46:40.326080
2023-12-24 09:46:41.330694
2023-12-24 09:46:42.334606
2023-12-24 09:46:43.338279
2023-12-24 09:46:44.342265
2023-12-24 09:46:45.344135
2023-12-24 09:46:46.349527
2023-12-24 09:46:47.350854
2023-12-24 09:46:48.361295
2023-12-24 09:46:49.363152
2023-12-24 09:46:50.364736
2023-12-24 09:46:51.368792
2023-12-24 09:46:52.371315
2023-12-24 09:46:53.374742
2023-12-24 09:46:54.379601
2023-12-24 09:46:55.382744
2023-12-24 09:46:56.388467
2023-12-24 09:46:57.394424
2023-12-24 09:46:58.398137
2023-12-24 09:46:59.401126
2023-12-24 09:47:00.416032
2023-12-24 09:47:01.419388
2023-12-24 09:47:02.427431
2023-12-24 09:47:03.433167
2023-12-24 09:47:04.437863
2023-12-24 09:47:05.440688
2023-12-24 09:47:06.446156
2023-12-24 09:47:07.447080
2023-12-24 09:47:08.457331
2023-12-24 09:47:09.461976
2023-12-24 09:47:10.466583
2023-12-24 09:47:11.471944
2023-12-24 09:47:12.477469
2023-12-24 09:47:13.481133
2023-12-24 09:47:14.483176
2023-12-24 09:47:15.487444
2023-12-24 09:47:16.495216
2023-12-24 09:47:17.502641
2023-12-24 09:47:18.508530
2023-12-24 09:47:19.514415
2023-12-24 09:47:20.526930
2023-12-24 09:47:21.534092
2023-12-24 09:47:22.537845
2023-12-24 09:47:23.550352
2023-12-24 09:47:24.555999
2023-12-24 09:47:25.561641
2023-12-24 09:47:26.567827
2023-12-24 09:47:27.571059
2023-12-24 09:47:28.583981
2023-12-24 09:47:29.588880
2023-12-24 09:47:30.594363
2023-12-24 09:47:31.600549
2023-12-24 09:47:32.610503
2023-12-24 09:47:33.617169
2023-12-24 09:47:34.621722
2023-12-24 09:47:35.626332
2023-12-24 09:47:36.633123
2023-12-24 09:47:37.638953
2023-12-24 09:47:38.642397
2023-12-24 09:47:39.647355
2023-12-24 09:47:40.654160
2023-12-24 09:47:41.659846
2023-12-24 09:47:42.665160
2023-12-24 09:47:43.670765
2023-12-24 09:47:44.674940
2023-12-24 09:47:45.679242
2023-12-24 09:47:46.684818
2023-12-24 09:47:47.691539
2023-12-24 09:47:48.695552
2023-12-24 09:47:49.698317
2023-12-24 09:47:50.703444
2023-12-24 09:47:51.708895
2023-12-24 09:47:52.714163
2023-12-24 09:47:53.719518
2023-12-24 09:47:54.729917
2023-12-24 09:47:55.738609
2023-12-24 09:47:56.743566
2023-12-24 09:47:57.747322
2023-12-24 09:47:58.752928
2023-12-24 09:47:59.756864
2023-12-24 09:48:00.764600
2023-12-24 09:48:01.767811
2023-12-24 09:48:02.771561
2023-12-24 09:48:03.776001
2023-12-24 09:48:04.782604
2023-12-24 09:48:05.788578
2023-12-24 09:48:06.791167
2023-12-24 09:48:07.796329
2023-12-24 09:48:08.798430
2023-12-24 09:48:09.805016
2023-12-24 09:48:10.806368
2023-12-24 09:48:11.811703
2023-12-24 09:48:12.816397
2023-12-24 09:48:13.822966
2023-12-24 09:48:14.828328
2023-12-24 09:48:15.832869
2023-12-24 09:48:16.835448
2023-12-24 09:48:17.839668
2023-12-24 09:48:18.845361
2023-12-24 09:48:19.847550
2023-12-24 09:48:20.852760
2023-12-24 09:48:21.856078
2023-12-24 09:48:22.864023
2023-12-24 09:48:23.873254
2023-12-24 09:48:24.875916
2023-12-24 09:48:25.880794
2023-12-24 09:48:26.886079
2023-12-24 09:48:27.891959
2023-12-24 09:48:28.897294
2023-12-24 09:48:29.902723
2023-12-24 09:48:30.909129
2023-12-24 09:48:31.912633
2023-12-24 09:48:32.915078
2023-12-24 09:48:33.920206
2023-12-24 09:48:34.925530
2023-12-24 09:48:35.925842
2023-12-24 09:48:36.928111
2023-12-24 09:48:37.932917
2023-12-24 09:48:38.938220
2023-12-24 09:48:39.941885
2023-12-24 09:48:40.947185
2023-12-24 09:48:41.952507
2023-12-24 09:48:42.955516
2023-12-24 09:48:43.961147
2023-12-24 09:48:44.966432
2023-12-24 09:48:45.968858
2023-12-24 09:48:46.971145
2023-12-24 09:48:47.985298
2023-12-24 09:48:48.990617
2023-12-24 09:48:49.995554
2023-12-24 09:48:50.998589
2023-12-24 09:48:51.999774
2023-12-24 09:48:53.001807
2023-12-24 09:48:54.006851
2023-12-24 09:48:55.011627
2023-12-24 09:48:56.016965
2023-12-24 09:48:57.023499
2023-12-24 09:48:58.028241
2023-12-24 09:48:59.030588
2023-12-24 09:49:00.035150
2023-12-24 09:49:01.038909
2023-12-24 09:49:02.044019
2023-12-24 09:49:03.049694
2023-12-24 09:49:04.056421
2023-12-24 09:49:05.062414
2023-12-24 09:49:06.067499
2023-12-24 09:49:07.072662
2023-12-24 09:49:08.074084
2023-12-24 09:49:09.078667
2023-12-24 09:49:10.080053
2023-12-24 09:49:11.084139
2023-12-24 09:49:12.089090
2023-12-24 09:49:13.094289
2023-12-24 09:49:14.097513
2023-12-24 09:49:15.100944
2023-12-24 09:49:16.102434
2023-12-24 09:49:17.108850
2023-12-24 09:49:18.113986
2023-12-24 09:49:19.118053
2023-12-24 09:49:20.123310
2023-12-24 09:49:21.127066
2023-12-24 09:49:22.129860
2023-12-24 09:49:23.135315
2023-12-24 09:49:24.146231
2023-12-24 09:49:25.153850
2023-12-24 09:49:26.160621
2023-12-24 09:49:27.165952
2023-12-24 09:49:28.173602
2023-12-24 09:49:29.181838
2023-12-24 09:49:30.187261
2023-12-24 09:49:31.192630
2023-12-24 09:49:32.196808
2023-12-24 09:49:33.200246
2023-12-24 09:49:34.205918
2023-12-24 09:49:35.208298
2023-12-24 09:49:36.218178
2023-12-24 09:49:37.222699
2023-12-24 09:49:38.230495
2023-12-24 09:49:39.235468
2023-12-24 09:49:40.245053
2023-12-24 09:49:41.256026
2023-12-24 09:49:42.261084
2023-12-24 09:49:43.267417
2023-12-24 09:49:44.271503
2023-12-24 09:49:45.275934
2023-12-24 09:49:46.281694
2023-12-24 09:49:47.287221
2023-12-24 09:49:48.292145
2023-12-24 09:49:49.298649
2023-12-24 09:49:50.300620
2023-12-24 09:49:51.302301
2023-12-24 09:49:52.304617
2023-12-24 09:49:53.311660
2023-12-24 09:49:54.315455
2023-12-24 09:49:55.316471
2023-12-24 09:49:56.324227
2023-12-24 09:49:57.328966
2023-12-24 09:49:58.333930
2023-12-24 09:49:59.339423
2023-12-24 09:50:00.344757
2023-12-24 09:50:01.349945
2023-12-24 09:50:02.358854
2023-12-24 09:50:03.361533
2023-12-24 09:50:04.366295
2023-12-24 09:50:05.370948
2023-12-24 09:50:06.376830
2023-12-24 09:50:07.382538
2023-12-24 09:50:08.388010
2023-12-24 09:50:09.393266
2023-12-24 09:50:10.394800
2023-12-24 09:50:11.405889
2023-12-24 09:50:12.410730
2023-12-24 09:50:13.416011
2023-12-24 09:50:14.421023
2023-12-24 09:50:15.424784
2023-12-24 09:50:16.429949
2023-12-24 09:50:17.435240
2023-12-24 09:50:18.440432
2023-12-24 09:50:19.445488
2023-12-24 09:50:20.449994
2023-12-24 09:50:21.455233
2023-12-24 09:50:22.460370
2023-12-24 09:50:23.465488
2023-12-24 09:50:24.470303
2023-12-24 09:50:25.470662
2023-12-24 09:50:26.475355
2023-12-24 09:50:27.477152
2023-12-24 09:50:28.478416
2023-12-24 09:50:29.479463
2023-12-24 09:50:30.484777
2023-12-24 09:50:31.489983
2023-12-24 09:50:32.495112
2023-12-24 09:50:33.496777
2023-12-24 09:50:34.501907
2023-12-24 09:50:35.504305
2023-12-24 09:50:36.509322
2023-12-24 09:50:37.514531
2023-12-24 09:50:38.518836
2023-12-24 09:50:39.519413
2023-12-24 09:50:40.524670
2023-12-24 09:50:41.530083
2023-12-24 09:50:42.535405
2023-12-24 09:50:43.540545
2023-12-24 09:50:44.545432
2023-12-24 09:50:45.550654
2023-12-24 09:50:46.555869
2023-12-24 09:50:47.560669
2023-12-24 09:50:48.565986
2023-12-24 09:50:49.568195
2023-12-24 09:50:50.568675
2023-12-24 09:50:51.577796
2023-12-24 09:50:52.583198
2023-12-24 09:50:53.587514
2023-12-24 09:50:54.591134
2023-12-24 09:50:55.596282
2023-12-24 09:50:56.599184

In [1]:
#248
import os

# 현재 작업 디렉토리 출력
current_directory = os.getcwd()
print("Current Directory:", current_directory)

Current Directory: /Users/kennyjung/Desktop/Python

In [2]:
#249
import os
os.rename('/Users/kennyjung/Desktop/Python/Image.jpeg', '/Users/kennyjung/Desktop/Python/image_rename.jpeg')

In [6]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-1.26.2-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 6.4 MB/s eta 0:00:01
Installing collected packages: numpy
Successfully installed numpy-1.26.2
WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
#250
import numpy as np
numbers = np.arange(0.0, 5.0, 0.1)
print(numbers)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7
 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5
 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9]

In [ ]:
#251
'''
클래스는 일종의 설계도로, 하나의 타입을 정의하는 방법입니다. 클래스에는 관련있는 데이터와 함수를 한 데 모아 정의할 수 있습니다. 클래스로 만들어진 결과물을 객체라고합니다.


클래스(Class)
클래스는 객체를 생성하기 위한 템플릿이나 청사진 같은 것입니다. 클래스는 데이터와 이 데이터를 조작하는 메소드(함수)를 정의합니다. 예를 들어, 'Dog'라는 클래스를 만들 수 있으며, 이 클래스는 개의 특성(예: 이름, 나이)과 행동(예: 짖다, 뛰다)을 정의할 수 있습니다.

python
Copy code
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says woof!")

객체(Object)
객체는 클래스로부터 생성된 실체입니다. 객체 각각은 클래스가 정의한 데이터 구조를 따르며, 독립적인 상태와 행동을 가집니다. 클래스로부터 객체를 생성하는 것을 '인스턴스화'라고 합니다.

python
Copy code
# Dog 클래스의 인스턴스 생성
my_dog = Dog("Buddy", 5)

# 메소드 사용
my_dog.bark()  # 출력: Buddy says woof!
클래스(Dog)의 인스턴스(my_dog)는 해당 클래스의 모든 특성(이름과 나이)과 메소드(짖다)를 상속받습니다.

'''

In [8]:
#252
class Human:
    pass

In [9]:
#253
class Human:
    pass

# Human 클래스의 인스턴스를 생성하고 areum 변수에 바인딩
areum = Human()

In [10]:
#254
class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [11]:
#255
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25, '여자')
print(areum.name)

아름

In [1]:
#256
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25, '여자')
print(areum.age)

25